.cookie-container{
    background: transparent;
    border-radius: 30px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    position:absolute;
    width: 95%;
    left: 2.5%;
    bottom: 0%;
    font-family: 'Inconsolata',monospace;
    color: #000000;
    font-size: 1em;
    text-align: center;
}
.cookie-container a {
    text-decoration: underline;
    cursor: pointer;
}
.cookie-container button{
    background: transparent;
    color: #000000;
    font-size: 1.5em;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
}

.cookie-container button:hover{
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}